exportPattern("^[[:alpha:]]+")
importFrom(Rcpp, evalCpp)
import(Matrix)
import(SummarizedExperiment)
import(SingleCellExperiment)
import(foreach)
importFrom(BiocParallel, bplapply)
import(dplyr)
import(magrittr)
importFrom(parallel, stopCluster)
importFrom(utils, globalVariables)
importFrom("methods", "is")
importFrom("stats", "binomial", "density", "fitted", "glm", "lm",
               "model.matrix", "rbinom", "sd", "p.adjust")
useDynLib(cytoKernel, .registration = TRUE)
